html, body {
    margin: 0;
    padding: 0;
}
.main {
    position: relative;
    width: 740px;
    margin: auto;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 30px;
}
.main p {
    padding-left: 2em;
}
.side-bar {
    position: absolute;
    left: 815px;
    bottom: 0;
}
.goto-top {
    display: block;
    width: 36px;
    height: 36px;
    padding: 12px;
    position: fixed;
    bottom: 18px;
    text-align: center;
    border: 1px #aaa groove;
    box-shadow: 5px 5px 5px #ccc;
    color: #000;
    text-decoration: none;
    background-color: #aaa;
}
